@import 'common.less';

#welcome-image {

  @image-height: 450px;

  .background {
    z-index: 1;

    margin: 0 -15px;
    height: @image-height;
    background: transparent url("/static/images/maxresdefault.jpg") no-repeat top center fixed;
    opacity: 0.5;
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;

    -webkit-filter: blur(3px);
    -moz-filter: blur(3px);
    -o-filter: blur(3px);
    -ms-filter: blur(3px);
    filter: blur(3px);
  }

  .foreground {
    z-index: 2;
    margin-top: -400px;
  }

  h1 {
    font-size: 32px;
  }

  .first-heading {
    margin-top: 20px;
  }

  .cta-btn-wrapper {
    a {
      width: 181px;
    }
  }
}

#social {
  margin: 100px 100px;

  .quote {
    color: midnightblue;
    font-size: 27px;
  }

  .author {
    color: slategrey;
  }

  img {
    width: 100px;
    border-radius: 50%;
  }
}

#problem {
  .section-box {
    padding: 10px 35px;
  }
}

#benefits {
  .content {
    margin: 30px 60px 30px 60px;

    img {
      width: 200px;
      height: auto;
    }

    .double {
      width: 400px;
      height: auto;
    }
  }

}

#features {
  .section {
    margin: 30px;
  }
}

#poc {
  background: silver;
  margin: 0 -20px;
  padding-top: 10px;

  .banner {
    font-size: 20px;
    margin: 45px;
  }
}

#partners {

  .content {
    padding: 50px 20px;
  }

  img {
    width: 200px;
  }
}

#final-cta {
  .cta-button {
    margin: auto -15px;
    padding-top: 70px;
    height: 200px;
    background: dimgrey;
    color: @turbine-color;
  }
}
