@import 'common.less';

#welcome-image {

  @image-height: 500px;

  .background {
    z-index: 1;
    margin: 0 -15px;
    height: @image-height;
    background: transparent url("/static/images/background.png") no-repeat top center fixed;
    opacity: 1;
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;

    //-webkit-filter: blur(3px);
    //-moz-filter: blur(3px);
    //-o-filter: blur(3px);
    //-ms-filter: blur(3px);
    //filter: blur(3px);
  }

  .foreground {
    z-index: 2;
    margin-top: -450px;
  }

  h1 {
    font-size: 32px;
    color: white;
  }

  .first-heading {
    margin-top: 20px;
  }

  .subhead {
    margin: 50px;
    color: white;
  }
  
  .cta-btn-wrapper {
    margin-top: 75px;
    a {
      width: 181px;
    }
    
  .btn-cta-secondary:hover {
      color: @turbine-color;
    }
  }
  
}
  
#social {
  padding: 40px 40px 40px 40px;
  margin: 0 -20px;
  background: #333;
  
  .quote {
    color: white;
    font-size: 16px;
  }

  .author {
    color: white;
    font-size: 12px;
  }

img {
    width: 100px;
    border-radius: 50%;
  }
}

#problem {
  .section-box {
    padding: 10px 35px;
  }
  
  .title {
    margin-right: 0px;
    margin-left: 0px;
  }

  img {
    display:block;
    margin:auto;
  }
}

#benefits {
  .content {
    margin: 20px 0px 40px 0px;
    min-height:120px;
  }
  
  .content-left
  {
    img {
      height: 150px;
      width: auto;
    float: right;
    }

  }

  .col-xs-12 {
    img
    {
        display:block;
        margin:auto;
        float:none;
    }
   }
}

#features {
  .section {
    margin: 30px;
  }
  
  img
  {
   float:right;
  }
}

#poc {
  background: transparent url("/static/images/readmore.png");
  margin: 0 -20px;
  padding-top: 10px;

  .banner {
    font-size: 20px;
    margin: 10px;
    color: white;
  }
  
  .cta-btn-wrapper {
    padding: 0px;
  }
}

#partners {
  background: #E6E6E6;
  margin: 0 -20px;
  padding-top: 10px;
  
  .title {
  margin: 20px;
  }
  
  .vcenter {
    margin: 20px;
    
   img {
    height: 50px;
    width: auto;
    vertical-align: middle;
    display: block;
    margin: auto;
   }
  }

}

#final-cta {
   background: url("/static/images/background.png");
   background-position: 20% 20%;
   vertical-align:middle;
   color:white;
   
   .col-xs-12
   {
      height: 300px;
   }
   
   .col-md-12
   {
      height: 150px;
   }
   
   .cta-btn-wrapper .col-xs-12
    {
      height: auto;
    }
    
   .btn-cta-secondary:hover {
      color: @turbine-color;
    }
}
