@import 'common.less';

#turbine-navbar {
  background-color: dimgrey;

  .navbar-element {
    color: @turbine-color;

    font-size: 28px;
    padding-top: 23px;

    &:hover {
      color: cyan;
    }
  }

  .btn-navbar {
    padding: 8px 30px;
    color: black;
  }

  .navbar-logo {
    height: 30px;
  }
}
