<div class="row">
    <div class="col-md-10 col-md-offset-1">
        <div class="container-fluid">
            <div class="row section">
                <div class="col-md-7">
                    <h1><b>Turbine is the only way to predict how cancer cells react to combination therapies</b></h1>
                </div>
            </div>
            <div class="row section">
                <div class="col-md-6">
                    <h4><b>Effective combinations in silico</b></h4>
                    <p>Based on a drug’s target and combination, Turbine combs through a compound library of existing therapy options. It identifies the combinations predicted to have the highest clinical benefit, way before clinical trials.</p>
                </div>
                <div class="col-md-6">
                    <img src="http://lorempixel.com/400/200/" alt="">
                </div>
            </div>
            <div class="row section">
                <div class="col-md-6">
                    <img src="http://lorempixel.com/400/200/" alt="">
                </div>
                <div class="col-md-6">
                    <h4><b>Dynamic biological network</b></h4>
                    <p>Turbine uses the only large-scale biological network ready for dynamic analysis. Other solutions can’t do more than infer predictions from a static snapshot of human biology, like the genome. Turbine’s network was constructed based on the latest research into the proteome - the wiring diagram of the human body. </p>
                </div>
            </div>
            <div class="row section">
                <div class="col-md-6">
                    <h4><b>Powered by AI</b></h4>
                    <p>Turbine’s patent-pending artificial intelligence simulates perturbations in a network faster than any other algorithm on the market. To get statistically significant results, Turbine runs thousands of simulations per compound, lightning fast.</p>
                </div>
                <div class="col-md-6">
                    <img src="http://lorempixel.com/400/200/" alt="">
                </div>
            </div>
            <div class="row section">
                <div class="col-md-6">
                    <img src="http://lorempixel.com/400/200/" alt="">
                </div>
                <div class="col-md-6">
                    <h4><b>Additive toxicity before Phase I</b></h4>
                    <p>Turbine uses the only large-scale biological network ready for dynamic analysis. Other solutions can’t do more than infer predictions from a static snapshot of human biology, like the genome. Turbine’s network was constructed based on the latest research into the proteome - the wiring diagram of the human body. </p>
                </div>
            </div>
            <div class="row section">
                <div class="col-md-6">
                    <h4><b>Therapy resistant strain predictions</b></h4>
                    <p>Turbine’s patent-pending artificial intelligence simulates perturbations in a network faster than any other algorithm on the market. To get statistically significant results, Turbine runs thousands of simulations per compound, lightning fast.</p>
                </div>
                <div class="col-md-6">
                    <img src="http://lorempixel.com/400/200/" alt="">
                </div>
            </div>
            <div class="row section">
                <div class="col-md-6">
                    <img src="http://lorempixel.com/400/200/" alt="">
                </div>
                <div class="col-md-6">
                    <h4><b>Fight any cancer type</b></h4>
                    <p>Turbine’s algorithms are network-agnostic, and can analyse any, arbitrarily large network if it contains data about the strength and direction of edges. Network biology researchers are encouraged to <a href="/about-us">contact Turbine</a> to test its capabilities on their own networks.</p>
                </div>
            </div>
        </div>
    </div>
</div>