<div class="row">
    <div class="col-md-10 col-md-offset-1">
        <div class="container-fluid">
            <div class="row section">
                <div class="col-md-12">
                    <form>
                        <div class="row">
                            <div class="col-md-12">
                                <div class="form-group">
                                    <h2><b>Contact Us!</b></h2>
                                    <p>Would you like to use Turbine’s predictive power to advance your research? Are you planning to run combination trials for a new drug candidate? We’re here to help.</p>
                                </div>
                            </div>
                        </div>
                        <div class="row">
                            <div class="col-md-6 col-md-offset-3 section">
                                <div class="row">
                                    <div class="col-md-6">
                                        <div class="form-group">
                                            <label>Name:</label>
                                            <input class="form-control" ng-model="submitter.name" type="text"/>
                                        </div>
                                    </div>
                                    <div class="col-md-6">
                                        <div class="form-group">
                                            <label>Email:</label>
                                            <input class="form-control" ng-model="submitter.email" type="email"/>
                                        </div>
                                    </div>
                                </div>
                                <div class="row">
                                    <div class="col-md-12">
                                        <div class="form-group">
                                            <label>Message:</label>
                                            <textarea class="form-control" ng-model="submitter.message" type="text" placeholder="Tell us how we can help" rows="3"></textarea>
                                        </div>
                                        <div class="form-group">
                                            <button type="submit" class="btn btn-success btn-lg btn-cta" ng-click="submit()">Send message</button>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </form>
                </div>
            </div>
            <div class="row section">
                <div class="col-md-12">
                    <h1><b>The Turbine team</b></h1>
                </div>
            </div>
            <div class="row">
                <div class="col-md-6">
                    <p>We’re an interdisciplinary team of experts from the worlds of molecular oncology, network medicine, big data and artificial intelligence.</p>
                </div>
            </div>
            <div class="row">
                <div class="col-md-12">
                    <div class="row section">
                        <div class="col-md-12">
                            <h2><b>Members</b></h2>
                        </div>
                    </div>
                    <div class="row section">
                        <div class="col-md-6">
                            <div class="row">
                                <div class="col-md-5">
                                    <img src="/static/images/members/kristofszalay.png" alt="Kristof Szalay" class="member-profile-image">
                                </div>
                                <div class="col-md-7">
                                    <h4><b>Kristóf Szalay <a href="https://www.linkedin.com/in/kristofszalay" target="_blank"><i class="fa fa-linkedin-square"></i></a></b></h4>
                                    <p>Chief Executive Officer</p>
                                    <p>Kristof is the inventor of the Turbine toolset, an expert in simulations and artificial intelligence with a strong background in biology. He firmly believes that the market is the place where the added value of any scientific method or technology can really come to light.</p>
                                </div>
                            </div>
                        </div>
                        <div class="col-md-6">
                            <div class="row">
                                <div class="col-md-5">
                                    <img src="/static/images/members/petercsermely.jpg" alt="Peter Csermely" class="member-profile-image">
                                </div>
                                <div class="col-md-7">
                                    <h4><b>Péter Csermely <a href="https://www.linkedin.com/in/csermelypeter" target="_blank"><i class="fa fa-linkedin-square"></i></a></b></h4>
                                    <p>Scientific Advisor</p>
                                    <p>Peter supports Turbine with his decades-long experience in biomolecular networks, drug design and building of biotech start-ups. As a member of the Hungarian Academy and Academia Europaea, as a Fogarty, Howard Hughes, Templeton and Rockefeller Scholar and as the president of the Hungarian and European Talent Councils, he has an access to a large talent-pool to build and expand Turbine.</p>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="row section">
                        <div class="col-md-6">
                            <div class="row">
                                <div class="col-md-5">
                                    <img src="/static/images/members/danielveres.jpg" alt="Daniel Veres" class="member-profile-image">
                                </div>
                                <div class="col-md-7">
                                    <h4><b>Dániel Veres, MD <a href="https://www.linkedin.com/in/danielveresmd" target="_blank"><i class="fa fa-linkedin-square"></i></a></b></h4>
                                    <p>Chief Medical Officer</p>
                                    <p>Daniel has years of experience in biomedical data integration and curation, and in building computational models in order to understand the behaviour of human cells. As a medical doctor, Daniel is focusing on cancer, and as a bridge between medical sciences and computational biology helps the clinical interpretation of the predictions to design innovative and relevant treatment options to defeat cancer. </p>
                                </div>
                            </div>
                        </div>
                        <div class="col-md-6">
                            <div class="row">
                                <div class="col-md-5">
                                    <img src="/static/images/members/szabolcsnagy.jpg" alt="Szabolcs Nagy" class="member-profile-image">
                                </div>
                                <div class="col-md-7">
                                    <h4><b>Szabolcs Nagy <a href="https://www.linkedin.com/in/nagyszabolcs" target="_blank"><i class="fa fa-linkedin-square"></i></a></b></h4>
                                    <p>Chief Operating Officer</p>
                                    <p>Szabolcs has launched Tresorit, a successful cloud security startup. He also helped develop a platform that helps chronically ill patients manage their conditions. He brings extensive product management and marketing experience to Turbine, and is responsible for building a successful business from its disruptive technology.</p>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="row section">
                        <div class="col-md-6">
                            <div class="row">
                                <div class="col-md-5">
                                    <img src="/static/images/members/matyasfodor.jpg" alt="Mátyás Fodor" class="member-profile-image">
                                </div>
                                <div class="col-md-7">
                                    <h4><b>Mátyás Fodor <a href="https://hu.linkedin.com/pub/m%C3%A1ty%C3%A1s-fodor/63/825/222" target="_blank"><i class="fa fa-linkedin-square"></i></a></b></h4>
                                    <p>Full stack web developer</p>
                                </div>
                            </div>
                        </div>
                        <div class="col-md-6">
                            <div class="row">
                                <div class="col-md-5">
                                    <img src="/static/images/members/ivanfekete.png" alt="Iván Fekete" class="member-profile-image">
                                </div>
                                <div class="col-md-7">
                                    <h4><b>Iván Fekete <a href="https://www.linkedin.com/in/ivanfekete" target="_blank"><i class="fa fa-linkedin-square"></i></a></b></h4>
                                    <p>Junior research associate</p>
                                    <p>Ivan is a medical student, participating in undergraduate research for more than 3 years. He has experience with network dynamics, modelling of protein-protein interactions, and signaling data curation. He has a strong affinity towards medical hematology, oncology and immunology.</p>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="row section">
                        <div class="col-md-6 col-md-offset-3">
                            <div class="row">
                                <div class="col-md-5">
                                    <img src="/static/images/members/bencebruncsics.png" alt="Bence Bruncsics" class="member-profile-image">
                                </div>
                                <div class="col-md-7">
                                    <h4><b>Bence Bruncsics, MD <a href="https://www.linkedin.com/pub/bence-bruncsics/a6/154/775" target="_blank"><i class="fa fa-linkedin-square"></i></a></b></h4>
                                    <p>Research intern</p>
                                    <p>Bence graduated as a medical doctor and has years of experience in field of in virto and in vivo cancer research and has ongoing Biomedical Engineering studies. He has a special interest in programming and modelling of biological systems.</p>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>