<div class="row">
    <div class="col-md-10 col-md-offset-1">
        <div class="container-fluid">
            <div class="row section">
                <div class="col-md-12">
                    <h1><b>About us</b></h1>
                </div>
            </div>
            <div class="row">
                <div class="col-md-6">
                    <p>We’re an interdisciplinary team of experts from the worlds of molecular oncology, network medicine, big data and artificial intelligence.</p>
                </div>
            </div>
            <div class="row">
                <div class="col-md-9">
                    <div class="row section">
                        <div class="col-md-12">
                            <h2><b>Members</b></h2>
                        </div>
                    </div>
                    <div class="row section">
                        <div class="col-md-6">
                            <div class="row">
                                <div class="col-md-5">
                                    <img src="/static/images/members/kristofszalay.png" alt="Kristof Szalay" class="member-profile-image">
                                </div>
                                <div class="col-md-7">
                                    <h4><b>Kristóf Szalay <a href="https://www.linkedin.com/in/kristofszalay" target="_blank"><i class="fa fa-linkedin-square"></i></a></b></h4>
                                    <p>Chief Executive Officer</p>
                                </div>
                            </div>
                        </div>
                        <div class="col-md-6">
                            <div class="row">
                                <div class="col-md-5">
                                    <img src="/static/images/members/petercsermely.jpg" alt="Peter Csermely" class="member-profile-image">
                                </div>
                                <div class="col-md-7">
                                    <h4><b>Péter Csermely <a href="https://www.linkedin.com/in/csermelypeter" target="_blank"><i class="fa fa-linkedin-square"></i></a></b></h4>
                                    <p>Scientific Advisor</p>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="row section">
                        <div class="col-md-6">
                            <div class="row">
                                <div class="col-md-5">
                                    <img src="/static/images/members/danielveres.jpg" alt="Daniel Veres" class="member-profile-image">
                                </div>
                                <div class="col-md-7">
                                    <h4><b>Dániel Veres, MD <a href="https://www.linkedin.com/in/danielveresmd" target="_blank"><i class="fa fa-linkedin-square"></i></a></b></h4>
                                    <p>Chief Medical Officer</p>
                                </div>
                            </div>
                        </div>
                        <div class="col-md-6">
                            <div class="row">
                                <div class="col-md-5">
                                    <img src="/static/images/members/szabolcsnagy.jpg" alt="Szabolcs Nagy" class="member-profile-image">
                                </div>
                                <div class="col-md-7">
                                    <h4><b>Szabolcs Nagy <a href="https://www.linkedin.com/in/nagyszabolcs" target="_blank"><i class="fa fa-linkedin-square"></i></a></b></h4>
                                    <p>Chief Operating Officer</p>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="col-md-3">
                    <form class="form-vertical">
                        <div class="form-group">
                            <h2><b>Contact Us!</b></h2>
                            <p>Would you like to know more about Turbine, or use Turbine’s predictive power to advance your research? Let us know!</p>
                        </div>
                        <div class="form-group">
                            <label>Name:</label>
                            <input class="form-control" ng-model="submitter.name" type="text"/>
                        </div>
                        <div class="form-group">
                            <label>Email:</label>
                            <input class="form-control" ng-model="submitter.email" type="text"/>
                        </div>
                        <div class="form-group">
                            <label>Message:</label>
                            <textarea class="form-control" ng-model="submitter.message" type="text"></textarea>
                        </div>
                        <div class="form-group">
                            <button type="submit" class="btn btn-success btn-lg">Send message</button>
                        </div>
                    </form>
                </div>
            </div>
        </div>
    </div>
</div>