<div id="solutions">
    <div class="row">
        <div class="col-md-10 col-md-offset-1">
            <div class="container-fluid">
                <div class="row section">
                    <div class="col-md-12">
                        <h1><b>Solutions</b></h1>
                    </div>
                </div>
                <div class="row">
                    <div class="section">
                        <p>We offer a full range of services in life sciences involving simulation and treatment design for different intracellular behaviors. Our current ongoing projects are mostly oriented in the direction of oncology, but our pipeline is entirely suitable for the investigation of other complex diseases such as Alzheimer’s or Type II diabetes. Our most popular services are outlined below.</p>
                    </div>
                </div>
                <div class="row">
                    <p><b>Combination drug screen for a single existing lead:</b> Given a single lead, we perform a simulation screen utilizing information from all available drugs - or a subset selected by our customer - on a set of cell line models or on given microarray tissue expression samples. We then present a list of drugs and corresponding tissues which showed the most synergy in our screens with your lead, complete with time series data on the behavior of the signaling network for each combination candidate. We also check all candidates for likely toxicities.</p>
                </div>
                <div class="row">
                    <p><b>Predicting signaling sensitivity and resistance mechanisms:</b> Given a monotherapy or combinatorial treatment on a cell line or a tissue sample with expression data, we can find what previously undescribed mutations or combination of mutations could make the targeted tissue significantly more sensitive or significantly more resistant to the treatment, thereby allowing you to create the necessary companion diagnostics toolkits. We present you the results both in textual and graphic form, making it easier to study the interrelations between different candidate mutations. We also provide you with sample simulation data for the most promising mutations or mutation sets.</p>
                </div>
                <div class="row">
                    <p><b>De <i>novo</i> target design:</b> Given a set of tissue samples or a cancer subtype, we can find new target protein candidates and combinations which - optionally paired with an existing treatment - when applied, could result in a successful treatment for the given type of cancer. We will screen our entire signaling network using most proteins as target candidates - or just a subset given by the customer - to find the best performing targets. We will present a list of targets and combinations, the corresponding time series data and the results of our toxicity screens.</p>
                </div>
                <div class="row">
                    <p><b>Line extension for drug libraries:</b> Given an entire drug library, we can find what previously unknown combination of drugs could be used to treat a specific type of cancer - using a combinatorial screen of your drugs on our model cell lines and then refining the analysis on the most promising cell lines with available expression samples for the corresponding cancer subtypes. We will present you with data on all successful combinations in the cell line test, and the corresponding combinations for the selected cancer subtype with the used expression samples.</p>
                </div>
                <div class="row">
                    <p><b>Basic research:</b> Using our platform, our method could allow answering a lot of pressing questions in basic life sciences research: What are the different chains of mutations which would allow a certain cancer type to emerge? What would be the stepping stones from one tissue type to another? What intracellular confounding factors could explain a given strange simulation result? What points of data are likely missing or wrong from our current knowledge of signaling networks based on your experimental screens? We believe that contributing back to science is very important, so collaborating research institutes can also unleash the full power of the Turbine software, empowering your researchers to find answer to these questions.</p>
                </div>
                <div class="row">
                    <p>Aside from offering our services in standard consulting form, we are open for partnering and collaboration agreements with both commercial and non-commercial entities.</p>
                </div>
            </div>
        </div>
    </div>
</div>
