<div class="solutions">
    <div class="row">
        <div class="col-md-10 col-md-offset-1">
            <div class="container-fluid">
                <div class="row">
                    <p>We offer a full range of services in life sciences involving simulation and treatment design for different intracellular behaviors. Our current ongoing projects are mostly oriented in the direction of oncology, but our pipeline is entirely suitable for the investigation of other complex diseases such as Alzheimer’s or Type II diabetes. Our most popular services are outlined below.</p>
                </div>
                <div class="row">
                    <p><b>Combination drug screen for a single existing lead:</b> Given a single lead, we perform a simulation screen utilizing information from all available drugs - or a subset selected by our customer - on a set of cell line models or on given microarray tissue expression samples. We then present a list of drugs and corresponding tissues which showed the most synergy in our screens with your lead, complete with time series data on the behavior of the signaling network for each combination candidate. We also check all candidates for likely toxicities.</p>
                </div>
            </div>
        </div>
    </div>
</div>
