<div id="solutions">
    <div class="row">
            <div class="container-fluid">
                <div class="row head">
                    <div class="section col-xs-offset-2">
                        <h1><b>Solutions</b></h1>
                    </div>
                    
                    <div class="section col-sm-offset-2 col-sm-8">
                        <p>We offer treatment design and simulation services for a range of different intracellular behaviors. Our ongoing projects are oncology focused, but Turbine is suitable for the investigation of other complex diseases, such as Alzheimer’s or Type II diabetes.</p>
                    </div>
                </div>
                <div class="row">
                    <div class="section col-sm-8 col-sm-offset-2">
                        <h3 class="title text-center">Combination drug screen for existing leads</h3> <p>Given a single lead, we perform millions of simulations, screening its combinations with  all available drugs - or a subset selected by our customer - on a set of cell line models or microarray tissue expression samples. We create a list of drugs and corresponding tissues which showed the most synergy in our screens with your lead. We also provide with time series data on the behavior of the signaling network for each combination candidate, and calculate additive toxicity for each candidate.</p>
                        <div class="content">
                            <img src="/static/images/solutions1.png">
                        </div>
                    </div>
                </div>
                <div class="row black">
                    <div class="section col-sm-8 col-sm-offset-2">
                        <h3 class="title text-center">Predicting signaling sensitivity and resistance mechanisms</h3> <p>Given a monotherapy or combinatorial treatment on a cell line or a tissue sample with expression data, we find previously undescribed mutations make the targeted tissue significantly more sensitive or resistant to the treatment. This  forms the basis for designing companion diagnostics. Results are presented in both textual and graphic forms, making it easier to study the interrelations between different candidate mutations. We also provide you with sample simulation data for the most promising mutations or mutation sets.</p>
                        <div class="content">
                            <img src="/static/images/solutions2.png">
                        </div>
                    </div>
                </div>
                <div class="row">
                    <div class="section col-sm-8 col-sm-offset-2">
                        <h3 class="title text-center"><i>De novo</i> target design</h3> <p>Given a set of tissue samples or a cancer subtype, we can find new target protein candidates and combinations which - potentially paired with an existing treatment - could result in effective treatment for the given cancer type. We screen our entire signaling network for protein target candidates - or just a subset given by the customer - to find the highest potential targets. We create a list of targets and combinations effectively targeting them, the corresponding time series data and the results of our toxicity screens.</p>
                        <div class="content">
                            <img src="/static/images/solutions3.png">
                        </div>
                    </div>
                </div>
                <div class="row black">
                    <div class="section col-sm-8 col-sm-offset-2">
                        <h3 class="title text-center">Line extension for drug libraries</h3> <p>Given an entire drug library, we can find previously unknown drug combinations that can treat a specific type of cancer. To do this, we use a combinatorial screen of your drugs on our model cell lines, then refi cane analysis of the most promising cell lines with available expression samples for the corresponding cancer subtypes. We  present you with data on all successful combinations in the cell line test, and the corresponding combinations for the selected cancer subtype with the given expression samples.</p>
                        <div class="content">
                            <img src="/static/images/solutions4.png">
                        </div>
                    </div>
                </div>
                <div class="row">
                    <div class="section col-sm-8 col-sm-offset-2">
                        <h3 class="title text-center">Basic research</h3> <p>Using Turbine , several pressing questions of life science can be answered. What are the different chains of mutations which would allow a certain cancer type to emerge? What would be the stepping stones from one tissue type to another? What intracellular confounding factors could explain a given simulation result? What points of data are likely missing or wrong in our current knowledge of signaling networks based on your experimental screens?</p>
                        <div class="content">
                            <img src="/static/images/solutions5.png">
                        </div>
                    </div>
                </div>
                <div class="section">
                    <p>As we want to  take science forward, we offer the full power of Turbine to research institutes. We hope to empower researchers to find answer to these questions, and more.</p>
                </div>
                
                <div class="section">
                    <p>Aside from our consulting services, we are open to collaboration and partnering agreements with both commercial and non-commercial entities</p>
                </div>
            </div>
        </div>
</div>
