{% load compress %}
{% load staticfiles %}

{% compress css %}
<link rel="stylesheet" type="text/css" href="{% static 'bower_components/bootstrap/dist/css/bootstrap.css' %}" />
<link rel="stylesheet" type="text/css" href="{% static 'bower_components/bootstrap-material-design/dist/css/material.css' %}" />
<link rel="stylesheet" type="text/css" href="{% static 'bower_components/bootstrap-material-design/dist/css/ripples.min.css' %}" />
<link rel="stylesheet" type="text/css" href="{% static 'bower_components/ngDialog/css/ngDialog.css' %}" />
<link rel="stylesheet" type="text/css" href="{% static 'bower_components/ngDialog/css/ngDialog-theme-default.css' %}" />
<link rel="stylesheet" type="text/css" href="{% static 'bower_components/font-awesome/css/font-awesome.css' %}" />

<link rel="stylesheet" type="text/css" href="{% static 'lib/snackbarjs/snackbar.min.css' %}" />
<link type="text/less" rel="stylesheet" href="{% static 'stylesheets/about-us.less' %}" />
<link type="text/less" rel="stylesheet" href="{% static 'stylesheets/common.less' %}" />
<link type="text/less" rel="stylesheet" href="{% static 'stylesheets/landing.less' %}" />
<link type="text/less" rel="stylesheet" href="{% static 'stylesheets/navbar.less' %}" />
<link type="text/less" rel="stylesheet" href="{% static 'stylesheets/solutions.less' %}" />

{% endcompress %}
