<div id="background">
    <div class="row">
        <div class="col-md-8 col-md-offset-2">
            <div class="container-fluid">
                <div class="row section">
                    <h1><b>Background</b></h1>
                </div>
                <div class="row">
                    <div class="section">
                        <p>Life is the most complex system we have ever encountered, and at the same time it is the most important one for us to understand. Billions of proteins work in every single cell.</p>
                    </div>
                </div>
                <div class="row">
                    <div class="section">
                        <p>Fortunately, decades of research in biochemistry have uncovered a great deal of how these proteins interact with each other to produce the complex phenotypes encoded in our DNA. With the big data explosion of the 21st century, it became possible to see this complex web of interactions for the first time in the form of networks.</p>
                    </div>
                </div>
                <div class="row">
                    <div class="section text-center">
                        <img src="/static/images/background/signaling-network.png" alt="Signaling network">
                    </div>
                </div>
                <div class="row">
                    <div class="section">
                        <p>Networks help us to understand how cellular systems work, but to really see the behavior of such networks in different conditions, we have to "switch them on" - use simulations to uncover the phenotype emerging from a given set of mutations, protein expression levels and treatment combinations.</p>
                    </div>
                </div>
                <div class="row">
                    <div class="section">
                        <p>We use a proprietary network simulator software which works much faster than any published simulator system, capable of analyzing the response of the intracellular signaling network in a fraction of a second. </p>
                    </div>
                </div>
                <div class="row">
                    <div class="section">
                        <p>This allows us to use the simulation data itself to train machine learning and artificial intelligence algorithms, enabling us to answer in silico some of the most important questions - , like what drug combinations could we use to treat a specific presentation of cancer, and what could be the specific determinants of resistance and toxicity in each case.</p>
                    </div>
                </div>
                <div class="row">
                    <div class="section text-center">
                        <img src="/static/images/background/intervention-design.png" alt="Signaling network">
                    </div>
                </div>
                <div class="row">
                    <div class="section">
                        <p>The mathematical underpinnings of the Turbine algorithm are well understood.  The software has been tested to accurately identify synthetic interventions in large networks based on the network states before and after the intervention. The results obtained by the software using industry standard small-scale dynamic networks were in full agreement with published literature and clinical practice, and was shown to be both more accurate and yield richer results than other in silico methods.</p>
                    </div>
                </div>
                <div class="row">
                    <div class="section">
                        <p>Examples include the targeting of the PI3K pathway as a useful treatment for undruggable mutations in the EGFR pathway, or the targeting of the PHD protein in the case of tumors having mutations concerning the ATM/ATR DNA damage sensors or the checkpoint kinases CHK1/2.</p>
                    </div>
                </div>
                <div class="row">
                    <div class="section">
                        <p>We have also managed to identify novel methods for treatment, such as VHL kinase inhibition, being a purely protective intervention that could be able to lessen or prevent the side effects of other targeted cancer drugs.</p>
                    </div>
                </div>
                <div class="row">
                    <div class="section">
                        <p>Unsatisfied with the resolution of current dynamics-enabled signaling networks, and using our previous experience in the integration and curation of the compartmentalized protein-protein interaction network ComPPI, we have constructed a large, high-resolution dynamic signaling network which we currently use for our analyses.</p>
                    </div>
                </div>
                <div class="row">
                    <div class="section">
                        <p>Unsatisfied with the resolution of current dynamics-enabled signaling networks, and using our previous experience in the integration and curation of the compartmentalized protein-protein interaction network ComPPI, we have constructed a large, high-resolution dynamic signaling network which we currently use for our analyses.</p>
                    </div>
                </div>
                <div class="row">
                    <div class="section text-center">
                        <img src="/static/images/background/dynamic_network.png" alt="Signaling network">
                    </div>
                </div>
                <div class="row">
                    <div class="section">
                        <p>We have also partnered with Oncompass, a molecular diagnostics service provider. This enables us to incorporate a constant stream of clinical data in our pipeline, making our predictions as accurate as possible - and better each day.</p>
                    </div>
                </div>
                <div class="row">
                    <div class="section">
                        <p>We also have a set of in vitro trials ongoing for pancreatic cancer cell lines based on our predictions, which will be published, allowing you to independently verify the accuracy and power of our method in your facilities.</p>
                    </div>
                </div>
                <div class="row section">
                    <h4><b>List of publications related to the Turbine toolkit</b></h4>
                </div>
                <div class="row">
                    <div class="section">
                        <p>Perez-Lopez, A. R., Szalay, K.Z., Türei, D., Módos, D., Lenti, K., Korcsmáros, T. and Csermely, P. (2015) Targets of drugs are generally, and targets of drugs having side effects are specifically good spreaders of human interactome perturbations. Sci. Rep. 5, 10182.</p>
                    </div>
                </div>
                <div class="row">
                    <div class="section">
                        <p>Csermely, P., Hódsági, J., Korcsmáros, T., Módos, D., Perez-Lopez, A.R., Szalay, K., Veres, D.V., Lenti, K., Wu, L.Y. and Zhang, X.S. (2015) Cancer stem cells display extremely large evolvability: alternating plastic and rigid networks as a potential mechanism. Network models, novel therapeutic target strategies and the contributions of hypoxia, inflammation and cellular senescence. Seminars in Cancer Biology, 30, 42-51.</p>
                    </div>
                </div>
                <div class="row">
                    <div class="section">
                        <p>Veres, D.V., Gyurko, M.D., Thaler, B., Szalay, K., Fazekas, D., Korcsmaros, T. and Csermely, P. (2015) ComPPI: a cellular compartment-specific database for protein-protein interaction network analysis. Nucleic Acids Res. 43, D485-D493. doi: 10.1093/nar/gku1007.</p>
                    </div>
                </div>
                <div class="row">
                    <div class="section">
                        <p>Szalay, K.Z., Nussinov, R. and Csermely, P. (2014) Attractor structures of signaling networks: Consequences of different conformational barcode dynamics and their relations to network-based drug design. Molecular Informatics, 33: 463-468.</p>
                    </div>
                </div>
                <div class="row">
                    <div class="section">
                        <p>Szalay, K. Z. and Csermely, P. (2013) Perturbation Centrality and Turbine: A Novel Centrality Measure Obtained Using a Versatile Network Dynamics Tool. PLoS ONE 8, e78059. Csermely, P., Korcsmáros, T., Kiss, H.J.M., London, G. and Nussinov, R. (2013) Structure and dynamics of biological networks: a novel paradigm of drug discovery. A comprehensive review. Pharmacol. Therap. 138, 333-408.</p>
                    </div>
                </div>
                <div class="row">
                    <div class="section">
                        <p>Csermely, P. and Korcsmáros, T. (2013) Cancer-related networks: a help to understand, predict and change malignant transformation Seminars in Cancer Biology 23, 209-212,</p>
                    </div>
                </div>
                <div class="row">
                    <div class="section">
                        <p>Farkas, I.J., Korcsmáros, T., Kovács, I.A., Mihalik, Á., Palotai, R., Simkó, G.I., Szalay, K.Z., Szalay-Bekő, M., Vellai, T., Wang, S. and Csermely, P. (2011) Network-based tools in the identification of novel drug-targets. Science Signaling 4, pt3.</p>
                    </div>
                </div>
                <div class="row">
                    <div class="section">
                        <p>Antal, M.A., Böde, C. and Csermely, P. (2009) Perturbation waves in proteins and protein networks: Applications of percolation and game theories in signaling and drug design. Curr. Pept. Prot. Res. 10, 161-172 </p>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
