<div class="row">
    <div class="col-md-12 header-section">
        <div class="row">
            <div class="col-md-offset-1">
                <h1><b>Design effective combination therapies to fight cancer - before clinical trials</b></h1>
                <h2>Using AI powered biological simulations, Turbine identifies combination therapies that increase clinical benefits and trial success rate.</h2>
            </div>
        </div>
    </div>
</div>
<div class="row">
    <div class="call-to-action text-center">
        <a class="btn btn-warning btn-lg">Sign Up Now!</a>
    </div>
</div>
<div class="row">
    <div class="col-md-10 col-md-offset-1">
        <div class="container-fluid">
            <div class="row">
                <div class="col-md-10">
                    <h2><b>Combination therapies may be the best weapon against cancer, but designing them is costly and hit & miss</b></h2>
                </div>
            </div>
            <div class="row">
                <div class="col-md-5">
                    <p><b>Due to tumour heterogenity, single drug therapies are often ineffective.</b> Rational combination therapies increase overall survival, improve trial success rates and provide clearer clinical benefits for payers.</p>
                    <p><b>But designing them is hard.</b> It takes years of basic research for a breakthrough combination. Even then, costly clinical trials are needed to validate the combination in vitro and in vivo - with abysmal success rates.</p>
                </div>
                <div class="col-md-5 col-md-offset-1">
                    <p><b>Mathematical modeling</b> has been used to screen combinations, but it cannot cope with the complexity of multi-drug interventions. Even cutting edge genomic analysis is useless, as combinations affect cancer cells in so many ways that their effects cannot be predicted based on static data.</p>
                    <p><b>Turbine combines the latest omics research with AI to predict complex interventions and their effects.</b> Our mission is turning combination therapy design from a dark art into a streamlined, speedy process that’s part of every new drug trial.</p>
                </div>
            </div>
        </div>
    </div>
</div>
<div class="row">
    <div class="col-md-10 col-md-offset-1">
        <div class="container-fluid">
            <div class="row">
                <div class="col-md-10">
                    <h2><b>Find combinations that work - in record time</b></h2>
                </div>
            </div>
            <div class="row">
                <div class="col-md-3">
                    <h4><b>Speed up combination therapy research</b></h4>
                    <p>By screening combination candidates in silico, you can select the best drugs from a much larger set of candidates when designing clinical trials. As you don’t have to wait for in vitro experiments to run their course, all this happens in days instead of months.</p>
                </div>
                <div class="col-md-3">
                    <h4><b>Increase chance of approval for any compound</b></h4>
                    <p>With several targeted therapies for certain cancer types, finding the right combination is extremely unlikely through trial and error clinical trials. But finding the right combination can shave months or years off trial time and decide a drug’s approval - authorities like the FDA fast track promising that show promising clinical benefits.</p>
                </div>
                <div class="col-md-3">
                    <h4><b>Increase patient survival significantly</b></h4>
                    <p>Patients have been shown to survive <a style="color:red">x%</a> longer when treated with combinations as opposed to singular therapies. Payers are inclined to cover longer treatments if progression free times increase significantly.</p>
                </div>
                <div class="col-md-3">
                    <h4><b>Extend drug lines</b></h4>
                    <p>Not limited by a clinical trial’s necessary safety concerns or costs of in vitro experiments, Turbine can test combinations against any indication, discovering new therapeutic areas for drugs. Turbine already discovered new uses for kinase inhibitors that were only recently proposed by published research groups.</p>
                </div>
            </div>
        </div>
    </div>
</div>
<div class="row">
    <div class="col-md-10 col-md-offset-1">
        <div class="container-fluid">
            <div class="row">
                <div class="col-md-10">
                    <h2><b>Proof of concept</b></h2>
                    <p>While in beta, Turbine has already made several discoveries that are consistent with the latest research. <a href="">Read more</a></p>
<!--                    TODO @fodma1: link PoC page!-->
                </div>
            </div>
        </div>
    </div>
</div>