<div id="welcome-image">
    <div class="background"></div>
    <div class="foreground">
        <div class="row">
            <div class="col-md-12 header-section">
                <div class="row">
                    <div class="col-md-8 col-md-offset-2 text-center first-heading">
                        <div class="row">
                            <h1><b>Design effective combination therapies powered by AI</b></h1>
                        </div>
                        <div class="row">
                            <div class="subhead">
                                <h3>Turbine’s AI predicts how any cancer responds to treatment, screening millions of possible drug combinations on a cancer-specific signaling network.</h3>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="row">
                    <div class="call-to-action text-center cta-btn-wrapper">
                        <a class="btn btn-warning btn-cta btn-lg" href="/#problem">Learn more</a>
                        <a class="btn btn-warning btn-cta-secondary btn-lg" href="/about-us">Contact us</a>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
<div id="social" class="section">
    <div class="row">
        <div class="col-md-6 col-md-offset-2">
            <div class="row">
                <p class="quote">"Turbine is the first attempt at an integrative view of the effects of cancer mutations, long missing in molecular biology. Its results suggest treatment combinations may be far more efficient than single target therapies."</p>
            </div>
            <div class="row">
                <p class="author">Stuart Kauffman, MD, past MacArthur Fellow, founder of Transforming Medicine Institute</p>
            </div>
        </div>
        <div class="col-md-2">
            <img src="/static/images/stuartkauffman.jpg" alt="">
        </div>
    </div>
</div>
<div id="problem" class="section">
    <div class="row">
        <div class="col-md-10 col-md-offset-1">
            <div class="container-fluid">
                <div class="row">
                    <div class="col-md-10 col-md-offset-1 title">
                        <h3 class="text-center"><b>Combination therapies may be the best weapon against cancer, but designing them is costly and hit & miss</b></h3>
                    </div>
                </div>
                <div class="row">
                    <div class="col-md-10 col-md-offset-1">
                        <div class="row">
                            <div class="col-md-6">
                                <p class="section-box"><b>Due to tumor complexity, single drug therapies are often ineffective.</b> Rational combination therapies increase overall survival, improve trial success rates and provide clearer clinical benefits for payers.</p>
                                <p class="section-box"><b>But designing them is hard.</b> It takes years of basic research for a breakthrough combination. Even then, costly clinical trials are needed to validate the combination in vitro and in vivo - with abysmal success rates.</p>
                            </div>
                            <div class="col-md-6">
                                <p class="section-box"><b>In silico simulations could speed up the process, but current solutions are more guesswork than science.</b> Medical science still hasn't understood how proteins interact with each other. This renders mathematical and genomic analysis inaccurate.</p>
                                <p class="section-box"><b>Turbine combines the latest omics research with AI to reliably simulate complex interventions.</b> Even with limited molecular knowledge, we are able to provide robust predictions using recent developments in complex system theory and years of our own research into the dynamics of biological signaling. Our mission is turning combination therapy design from a dark art into a streamlined, speedy process that’s part of every new drug trial.</p>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
<div id="benefits" class="section">
    <div class="row">
        <div class="col-md-10 col-md-offset-1">
            <div class="container-fluid">
                <div class="row">
                    <div class="col-md-12 title">
                        <h3 class="text-center"><b>Turbine finds combinations that work - in record time</b></h3>
                    </div>
                </div>
                <div class="row">
                    <div class="col-md-6">
                        <div class="content text-center">
                            <img src="/static/images/comb_logo.png" alt="combination">
                        </div>
                    </div>
                    <div class="col-md-6">
                        <div class="content">
                            <h4><b>Speed up combination therapy research</b></h4>
                            <p>By screening combination candidates in silico, you can select the best drugs from a much larger set of candidates when designing clinical trials. As you don’t have to wait for in vitro experiments to run their course, all this happens in days instead of months.</p>
                        </div>
                    </div>
                </div>
                <div class="row">
                    <div class="col-md-6">
                        <div class="content">
                            <h4><b>Increase chance of approval for any compound</b></h4>
                            <p>With several targeted therapies for certain cancer types, finding the right combination is extremely unlikely through trial and error clinical trials. But finding the right combination can shave months or years off trial time and decide a drug’s approval - authorities like the FDA fast track promising that show promising clinical benefits.</p>
                        </div>
                    </div>
                    <div class="col-md-6">
                        <div class="content text-center">
                            <img class="double" src="/static/images/trial_logo.png" alt="trial">
                        </div>
                    </div>
                </div>
                <div class="row">
                    <div class="col-md-6">
                        <div class="content text-center">
                            <img src="/static/images/survival_logo.png" alt="survival">
                        </div>
                    </div>
                    <div class="col-md-6">
                        <div class="content">
                            <h4><b>Increase patient survival significantly</b></h4>
                            <p>Therapy response has been shown to increase up to 80% when patients are treated with combinations as opposed to singular therapies. Payers are inclined to cover longer treatments if progression free times increase significantly.</p>
                        </div>
                    </div>
                </div>
                <div class="row">
                    <div class="col-md-6">
                        <div class="content">
                            <h4><b>Extend drug lines</b></h4>
                            <p>Not limited by a clinical trial’s necessary safety concerns or costs of in vitro experiments, Turbine can test combinations against any indication, discovering new therapeutic areas for drugs.</p>
                        </div>
                    </div>
                    <div class="col-md-6">
                        <div class="content text-center">
                            <img class="double" src="/static/images/line_logo.png" alt="line">
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
<div id="poc" class="section">
    <div class="row">
        <div class="col-md-12">
            <div class="text-center banner">
                <p>While still in development, Turbine has already made several discoveries that are consistent with the latest research. <a href="/background">Read more</a></p>
            </div>
        </div>
    </div>
</div>
<div id="features" class="section">
    <div class="row">
        <div class="col-md-10 col-md-offset-1">
            <div class="container-fluid">
                <div class="row">
                    <div class="col-md-8 col-md-offset-2">
                        <div class="title">
                            <h3 class="text-center"><b>Turbine is the only precise way to predict how cancer cells react to combination therapies</b></h3>
                        </div>
                    </div>
                </div>
                <div class="row">
                    <div class="col-md-4">
                        <div class="section">
                            <p><b>Effective combinations in silico</b></p>
                            <p>Based on a drug’s target and combination, Turbine combs through a compound library of existing therapy options. It identifies the combinations predicted to have the highest clinical benefit, way before clinical trials.</p>
                        </div>
                    </div>
                    <div class="col-md-4">
                        <div class="section">
                            <p><b>Customized dynamic biological network</b></p>
                            <p>Turbine uses the only large-scale biological network ready for dynamic analysis. Other solutions can’t do more than infer predictions from a static snapshot of human biology, like the genome. Turbine’s network was constructed based on the latest research into the proteome - the wiring diagram of the human body, customized using cutting edge omics data.</p>
                        </div>
                    </div>
                    <div class="col-md-4">
                        <div class="section">
                            <p><b>Powered by AI</b></p>
                            <p>Turbine's patent-pending artificial intelligence simulates perturbations in a network faster than any other algorithm on the market. To get statistically significant results, Turbine runs thousands of simulations per compound, lightning fast.</p>
                        </div>
                    </div>
                </div>
                <div class="row">
                    <div class="col-md-4">
                        <div class="section">
                            <p><b>Additive toxicity before Phase I</b></p>
                            <p>Simulating the effect of combinations on healthy cell models as well as cancerous ones, Turbine calculates the combination's toxicity profile before any animal studies or Phase I trials. </p>
                        </div>
                    </div>
                    <div class="col-md-4">
                        <div class="section">
                            <p><b>Therapy resistant strain predictions</b></p>
                            <p>By introducing realistic simulated mutagenesis - thousands of random mutations - Turbine can pinpoint which strains would prove resistant or susceptible to therapy. As well as predicting likelihood of resistance, Turbine can serve as a basis of further research into how certain resistant strains can be suppressed.</p>
                        </div>
                    </div>
                    <div class="col-md-4">
                        <div class="section">
                            <p><b>Fight any cancer type</b></p>
                            <p>Turbine’s algorithms are network-agnostic, and can analyse any, arbitrarily large network if it contains data about the strength and direction of edges. Network biology researchers are encouraged to <a href="/about-us">contact Turbine</a> to test its capabilities on their own networks.</p>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
<div id="partners" class="section">
    <div class="row">
        <div class="col-md-10 col-md-offset-1">
            <div class="container-fluid text-center">
                <div class="row">
                    <div class="title">
                        <h3><b>Proud to collaborate with leading research institutions</b></h3>
                    </div>
                </div>
                <div class="section">
                    <div class="row">
                        <div class="col-md-3">
                            <div class="vcenter">
                                <img src="/static/images/partners/oncompass.png" alt="Oncompass">
                            </div>
                        </div>
                        <div class="col-md-3">
                            <div class="vcenter">
                                <img src="/static/images/partners/semmelweis.svg" alt="Semmelweis University">
                            </div>
                        </div>
                        <div class="col-md-3">
                            <div class="vcenter">
                                <img src="/static/images/partners/eit.jpg" alt="EIT Health">
                            </div>
                        </div>
                        <div class="col-md-3">
                            <div class="vcenter">
                                <img src="/static/images/partners/link_logo.png" alt="Link Group">
                            </div>
                        </div>
                    </div>
                </div>

            </div>
        </div>
    </div>
</div>
<div id="final-cta">
    <div class="row">
        <a href="/about-us">
            <div class="col-md-6">
                <div class="cta-button">
                    <h2 class="text-center"><b>Interested in trying Turbine?</b></h2>
                </div>
            </div>
        </a>
        <a href="/solutions">
            <div class="col-md-6">
                <div class="cta-button">
                    <h2 class="text-center"><b>Eager to see if Turbine can deliver?</b></h2>
                </div>
            </div>
        </a>
    </div>
</div>