<div class="row">
    <div class="col-md-12 header-section">
        <h1>Design effective combination therapies to fight cancer - before clinical trials</h1>
        <h2>Using AI powered biological simulations, Turbine identifies combination therapies that increase clinical benefits and trial success rate.</h2>
    </div>
</div>
<div class="row">
    <div class="call-to-action text-center">
        <a class="btn btn-warning btn-lg">Sign Up Now!</a>
    </div>
</div>
<div class="row">
    <div class="col-md-6">
        <h3>Combination therapies may be the best weapon against cancer, but designing them is costly and hit & miss</h3>
    </div>
</div>
<div class="row">
    <div class="col-md-6">
        <p><b>Due to tumour heterogenity, single drug therapies are often ineffective.</b> Rational combination therapies increase overall survival, improve trial success rates and provide clearer clinical benefits for payers.</p>
        <p><b>But designing them is hard.</b> It takes years of basic research for a breakthrough combination. Even then, costly clinical trials are needed to validate the combination in vitro and in vivo - with abysmal success rates.</p>
    </div>
    <div class="col-md-6">
        <p><b>Mathematical modeling</b> has been used to screen combinations, but it cannot cope with the complexity of multi-drug interventions. Even cutting edge genomic analysis is useless, as combinations affect cancer cells in so many ways that their effects cannot be predicted based on static data.</p>
        <p><b>Turbine combines the latest omics research with AI to predict complex interventions and their effects.</b> Our mission is turning combination therapy design from a dark art into a streamlined, speedy process that’s part of every new drug trial.</p>
    </div>
</div>